<p style="color: green"><%= notice %></p>

<% content_for :title, "Earnings" %>

<h1>Earnings</h1>

<div id="earnings">
  <% @earnings.each do |earning| %>
    <%= render earning %>
    <p>
      <%= link_to "Show this earning", earning %>
    </p>
  <% end %>
</div>

<%= link_to "New earning", new_earning_path %>
