<%= render @earning %>

<div>
  <%= link_to "Edit this earning", edit_user_event_earning_path(@user,@event, @earning) %> |
  <%= link_to "Back to event", user_event_path(@user,@event) %>

  <%= button_to "Destroy this earning", user_event_earning_path(@user,@event, @earning), method: :delete %>
</div>
