<div class="form-body">
  <div class="form-container">
    <% content_for :title, "Editing event" %>

    <h1>Editing event</h1>

    <%= render "form", event: @event %>


    <div>
      <%= link_to "Back to this event", user_event_path(@event.user, @event) %>
    </div>
  </div>
</div>
