/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
*= require_tree .
*= require_self    
*= require main
*= require simple_calendar  

 */
nav{
  font-family: Arial, Helvetica, sans-serif;
}
a{
  color:black;
}
a:hover{
  color:darkmagenta;
}
body {
  color: black!important;
  background: url("sky.jpg");
  background-size: cover;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
  width: 40%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:600;
  font-size:20px;
  color: darkmagenta;
  letter-spacing: 1px;
}
.modal-buttons{
  display:flex;
  justify-content: space-between;
  
}
#updateBtn, #dismissBtn, #dismissAllBtn{
 display:inline;
  width:30%;
  padding:12px;
}

#eventsDropDown{
  margin-bottom:24px;
  font-size:18px;
  font-family:Arial, Helvetica, sans-serif;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.box{
  background-color:rgb(203, 196, 255);
  padding: 15px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.day.text-center{
  border:none;
} 
.simple-calendar{
  text-align:center;
  border-collapse:collapse;
  border-spacing: 0;
  border: none;
  font-size:12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background-color: #fff;
  width:fit-content;
}


.tooltiptext {
  visibility: hidden;
  width: 90px;
  background-color: rgb(223, 108, 255);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.calendar-day:hover .tooltiptext {
  visibility: visible;
}

.simple-calendar time{
  font-size: 20px;
  font-weight:600;
}
.simple-calendar nav{
  font-size:16px;
  font-weight:600;
}
.simple-calendar .calendar-heading{
  padding:12px;
}
.table>:not(caption)>*>* {
  box-shadow:none;
}

.day {
  font-size:12px;
  padding:5px;
  font-weight: 500;
  border:1px solid #ccc;
  text-align:center;
}
.calendar-day{
  min-height:100px;
  max-height:100px;
  overflow-y: scroll;
  min-width:110px;
  max-width:110px;
}
.card-header{ 
  padding:0px;
  background-color:transparent;
  border-bottom:none;
}
.simple-calendar th{
  font-size:14px;
}

.form-body{
  display:flex;
  justify-content: center;
  align-items:center;
  padding:10px;
}
.form-container{
  max-width:700px;
  width:100%;
  background-color:white;
  padding:25px 30px;
  height: fit-content;
}
form .form-details{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
form .form-details .input-box{
  margin:20px 0 12px 0;
  width: calc(100% / 2 - 20px);
}
.form-details .input-box .details{
  display:block;
  font-weight: 500;
  margin-bottom:5px;
}
.form-details .input-box input{
  height:45px;
  width:100%;
  outline:none;
  border-radius:5px;
  border: 1px solid #ccc;
  padding-left:15px;
  font-size:16px;
}

form .form-details .checkmark{
  margin:20px 0 12px 0;
  width: calc(100% / 2 - 20px);
}
.form-details .checkmark .details{
  display:block;
  font-weight: 500;
  margin-bottom:5px;
}

.form-details .checkmark .remember-me{
  display:inline;
  font-weight: 500;
  vertical-align: middle;
  margin-left: 8px;
}
.form-details .checkmark input{
  width:22px;
  height:45px;
  padding:10px;
  vertical-align: middle;
  border-radius:5px;
  border-color: rgb(204, 204, 204);
}

.form-details select{
  height:45px;
  border-color: rgb(204, 204, 204);
  border-radius:5px;
  vertical-align: middle;
  padding-left:15px;
  font-size:16px;
  width:100%;

}
.home-left-button{
  margin:12px;
  width:80%;
}

.button{
  height: 45px;
  margin:20px 0;

}

.button input{
  color:white;
  width:100%;
  height:100%;
  outline:none;
  border:none;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  border-radius: 5px;
  background: url("sky.jpg");
  background-size: cover;
}

 button{
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  border-radius: 5px;
  padding:10px;
  border:none;
}

.rackout-logo a{
  letter-spacing: 4px;
  text-decoration: none;
  color:white !important;
  font-weight:550;
}
nav h3{
  color:white;
}
nav h4{
  color:white;
  font-weight:550;
  letter-spacing: 2px;
}
body h5{
  color:white; 
  font-weight: 550;
  letter-spacing: 1px;
  font-size:18px;
}

nav{
  padding:16px;
  margin-bottom:16px;
}

.net-earnings{
  margin-top:20px;
  margin-bottom:24px;
  color:white;
  font-weight: 600;
  font-family:Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  font-size:24px;
}

.space-between{
  width:12px;
}

.event{
  font-family:Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-size:20px;
  color:white;
  font-weight: 600;
  margin-left:auto;
  margin-right:auto;
  margin-top: 28px;
}
.event-title{
  font-weight:550; 
  letter-spacing:2px; 
  margin-bottom:16px;
  text-decoratio
}

.earnings{
  padding:18px;
}
.earnings h4, .expenses h4{
  letter-spacing: 1px;
}

.expenses{
  padding:18px;

}
.earnings-list{
  margin-top:20px;
  font-size:15px;
  font-weight:500;
  overflow-y: scroll;
  padding-left:3px;
  padding-right:3px;
  margin-bottom:24px;
  max-height:65%;
}
.expenses-list{
  margin-top:20px;
  font-size:15px;
  font-weight:500;
  overflow-y: scroll;
  padding-left:3px;
  padding-right:3px;
  margin-bottom:24px;
  max-height:65%;
}
.earning{
  

}
.expense{

}
.little-earning-expense{
  background-color: rgba(255, 255, 255, 0.2);
  border-radius:5px;
  padding:8px;
} 
.little-earning-expense p{
  margin-bottom:0.5rem;
}