/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
*= require_tree .
*= require_self    
*= require main
*= require simple_calendar  

 */

body {
  color: black!important;
  background-color: white;
  background-size: cover;
}

h1{
  color:black;
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.box{
  background-color:rgb(203, 196, 255);
  padding: 15px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.day.text-center{
  border:none;
} 
.simple-calendar{
  width: 88%;
  text-align:center;
  border-collapse:collapse;
  border-spacing: 0;
  border: 1px sold #ccc;
  font-size:12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background-color: #fff;
}

.simple-calendar time{
  font-size: 20px;
  font-weight:600;
}
.simple-calendar nav{
  font-size:16px;
  font-weight:600;
}

.day {
  font-size:11px;
  padding:5px;
  font-weight: 550;
  border:1px solid #ccc;
  text-align:center;
}

.card-header{ 
  padding:0px;
  background-color:transparent;
  border-bottom:none;
}
.simple-calendar th{
  font-size:14px;
}
.calendar-day{
  height:95px;
  width:95px;
}