<div class="form-body">
  <div class="form-container">
    <% content_for :title, "Editing expense" %>

    <h1>Editing expense</h1>

    <%= render "form", expense: @expense %>

    <br>

    <div>
      <%= link_to "Show this expense", user_event_expense_path(@user, @event, @expense) %> |
      <%= link_to "Back to expenses", user_event_path(@user, @event) %>
    </div>
  </div>
</div>

